php_value  default_charset     "utf-8"
php_value  max_execution_time  30
php_value  memory_limit        20M
php_flag   file_uploads        off
php_value  post_max_size       5M
php_value  upload_max_filesize 5M
php_value  error_reporting     0
php_flag   display_errors      off
php_flag   log_errors          off

RewriteEngine On
RewriteBase /

RewriteCond %{THE_REQUEST} /public/([^\s?]*) [NC]
RewriteRule ^ %1 [L,NE,R=302]
RewriteRule ^(.*)$ public/index.php?$1 [L,QSA]