php_value  default_charset     "utf-8"
php_value  max_execution_time  30
php_value  memory_limit        20M
php_flag   file_uploads        on
php_value  post_max_size       5M
php_value  upload_max_filesize 5M
php_value  error_reporting     -1
php_flag   display_errors      on
php_flag   log_errors          on

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . index.php [L]

ErrorDocument 404 /errors/404.html
ErrorDocument 500 /errors/500.html